#root {
    width:100%;
    height:100%;
}

.container_01 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #89f7fe 0%, #66a6ff 100%);
}

/* 垂直滚动条 */
::-webkit-scrollbar {
    width: 12px;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
    background: #f0f0f0;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 6px;
}

/* 鼠标悬停时，滑块颜色变化 */
::-webkit-scrollbar-thumb:hover {
    background: #81e5fe;
}