.container {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    flex: 1;
}

.message-list {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    padding: 0 20px;
    overflow-y: auto;
}

.message-container {
    width: 100%;
    clear: both
}

.message {
    position: relative;
    padding: 8px;
    margin: 4px 0;
    border-radius: 10px;
    /* max-width: 60%; */
}

.message .Thinking {
    padding-bottom: 2px;
}

.message .Thinking img {
    position: relative;
    top: 3px;
    left: 10px;
    width: 18px;
    height: 18px
}

.user-message {
    background-color: #a1d4f4;
    text-align: left;
    float: right;
}

.bot-message,
.user-verify,
.bot-thinking {
    background-color: white;
    text-align: left;
    float: left;
}

.bot-message {
    width: 100%
}

.user-verify {
    padding: 13px 10px;
    margin: 4px 0;
    border-radius: 10px;
    /* max-width: 60%; */
}

.user-verify .content {
    padding: 3px 0;
}

.highlight {
    font-weight: bold;
    color: #0f93b4;
}

.user-verify .btn-list {
    width: 100%;
    clear: both;
    text-align: left;
}

.user-verify button {
    background: #81e5fe;
    cursor: pointer;
    border: none;
    padding: 4px;
    border-radius: 3px;
}

.user-verify button:nth-child(1) {
    margin-left: 10px;
    margin-right: 10px;
}

.user-verify button:nth-child(2) {
    margin-left: 10px;
}

.user-verify button:hover {
    background: #81e5fe;
}