.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin: 0 20px 10px 20px;
}

.input-box textarea {
    width: 100%;
    padding: 8px;
    overflow-y: auto;
    border: none;
    max-height: 240px;
    min-height: 100px;
    resize: none;
}

.input-box textarea:focus {
    outline: none;
}

.input-box .buttom-container {
    width: 100%;
    height: 34px;
}

.input-box img {
    position: absolute;
    bottom: 6px;
    right: 10px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}